.default {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 600;
  background: rgba(68, 81, 94, 1);
  position: relative;
  border: 3px solid rgba(68, 81, 94, 1);  
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}
.xdefault:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: rgba(68, 81, 94, 1);
  z-index: -1;
}

.default:hover {
  transition: ease-in;
  transition-duration: 100ms;
  color: rgba(68, 81, 94, 1);
  background: rgba(255, 255, 255, 1);
  position: relative;
  border: 3px solid rgba(68, 81, 94, 1);  
  padding: 10px 20px;
  cursor: pointer;
}

.default:focus {
  outline: 3px solid rgb(250, 73, 19);
}

