footer {
  border-top: rgba(224,224,224,1) 1px solid;
}

footer div.container {
  margin: 20px auto;
  padding: 40px 20px;
  overflow: hidden;
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-links a:hover {
  opacity: 1;
  transition: ease-in 100ms;
}

.social-links .icon-linkedin {
  background-image: url("../assets/icon-linkedin.svg");
  opacity: .75;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -2000px;
  margin-right: 60px;
}

.social-links .icon-instagram {
  background-image: url("../assets/icon-instagram.svg");
  opacity: .75;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -2000px;
  margin-right: 60px;
}

.social-links .icon-twitter {
  background-image: url("../assets/icon-twitter.svg");
  opacity: .75;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -2000px;

}
  
.copy {
  text-align: right;
  margin: 0;
  padding: 0;
}

@media (max-width: 620px) {

  footer div.container, footer div.container .copy {
    text-align: center;
  }

}

